#suggestion-box {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  #suggestion-box .active {
    background-color: #e0e0e0; /* Цвет подсветки */
    font-weight: bold;
}

  
  #suggestion-box .suggestion-item {
    padding: 5px;
    cursor: pointer;
  }
  
  #suggestion-box .suggestion-item.active,
  #suggestion-box .suggestion-item:hover {
    background-color: #007BFF;
    color: #fff;
  }
  