/* Стили для контейнера с номерами строк */
#lineNumbers {
    width: 50px;
    padding: 0;
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-size);
    overflow: hidden;
}
.line-number {
    line-height: var(--editor-line-height);
    color: #d1d1d1
}

.line-number.active {
    color: black; /* Цвет активной строки */
    font-weight: bold; /* Опционально для выделения */
}